
@model EncantoLib.Entities.Venda
@{
    ViewData["Title"] = "Cadastrar Venda";
}

<h4>Cadastrar Venda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cadastrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cliente.Nome" class="control-label"></label>
                <input asp-for="Cliente.Nome" class="form-control" disabled="disabled" />
                <span asp-validation-for="Cliente.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.Cpf" class="control-label"></label>
                <input asp-for="Cliente.Cpf" class="form-control" disabled="disabled" />
                <span asp-validation-for="Cliente.Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Título
                        </th>
                        <th>
                            Gênero
                        </th>
                        <th>
                            Valor
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Livros)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Titulo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Genero)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Preco)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListaClientes">Voltar</a>
</div>